<div class="panel panel-default col-md-12 comment-panel">
  <div class="panel-body">
    <p><%= comment.content %></p>
    <p><small>Posted by <%= comment.user.username %></small></p>
  </div>
</div>
