<nav class="navbar navbar-inverse bg-primary justify-content">
  <a class="navbar-brand" href="/">  
    <img id="sloth-face" src="../sloth_face.png" class="d-inline-block align-top">
  </a>
  <a class="navbar-brand" href="/">Mediocritter</a>
</nav>
