<%= erb :'partials/_full_nav' %>

<div class="container-fluid">
  <h1><%= @user.username %>'s Favorites</h1>
</div>


<div class="container-fluid">
  <% @user.favorited_tweets.each do |fav_tweet| %>
    <div class="container-fluid">
      <div class="panel panel-default col-md-6 col-md-offset-3">
        <div class="panel-body"><%= fav_tweet.tweet_time %>: <%= fav_tweet.text %></div>
      </div>
    </div>
  <% end %>
</div>
