<h1>Enter a username below</h1>

<form action="/tweets" method="post">
  <label>Username</label>
  <input type="text" name="username">
  <input type="submit" value="Enter">
</form>

<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<% if !@tweets.empty? %>
  <% @tweets.each do |tweet| %>
    <p><%= tweet.text %></p>
  <% end %>
<% else %>
  <p>No tweets to display.</p>
<% end %>
