<div class="container-fluid">
  <h1>Enter a username below</h1>
</div>

<div class="container-fluid">
  <form class="form-inline" action="/tweets" method="post">
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username">
    </div>

    <input class="btn btn-primary" type="submit" value="Enter">
  </form>
</div>

<div class="container-fluid">
  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>

  <% if !@tweets.empty? %>
    <% @tweets.each do |tweet| %>
      <p><%= tweet.text %></p>
    <% end %>
  <% else %>
    <p>No tweets to display.</p>
  <% end %>  
</div>
